node-red/lib/flows/trump-sentiment.json
[{"id":"73265d36.8cd9a4","type":"ui_tab","z":"2106f6a6.def90a","name":"Home","icon":"dashboard","order":"1"},{"id":"f90fd9c4.06f028","type":"mongodb","z":"2106f6a6.def90a","hostname":"mongo","port":"27017","db":"sentiment","name":""},{"id":"27871c86.d878e4","type":"sentiment","z":"2106f6a6.def90a","name":"","x":260,"y":120,"wires":[["24cf9e1b.db3062","2a878dce.d57872","563988d4.a9c678"]]},{"id":"2a878dce.d57872","type":"mongodb out","z":"2106f6a6.def90a","mongodb":"f90fd9c4.06f028","name":"","collection":"trump","payonly":false,"upsert":false,"multi":false,"operation":"store","x":510,"y":120,"wires":[]},{"id":"3ae21995.c51de6","type":"twitter in","z":"2106f6a6.def90a","twitter":"","tags":"#trump","user":"false","name":"#trump","topic":"tweets","x":90,"y":120,"wires":[["27871c86.d878e4"]]},{"id":"24cf9e1b.db3062","type":"debug","z":"2106f6a6.def90a","name":"","active":false,"console":"false","complete":"sentiment","x":460,"y":60,"wires":[]},{"id":"7b251781.84dae8","type":"mongodb in","z":"2106f6a6.def90a","mongodb":"f90fd9c4.06f028","name":"","collection":"trump","operation":"aggregate","x":710,"y":620,"wires":[["9a10fac5.65ef08"]]},{"id":"12068d19.edf973","type":"function","z":"2106f6a6.def90a","name":"aggregation (negative)","func":"msg.payload = [{\n    \"$match\": {\n        \"sentiment.negative\": {\n            \"$exists\": true,\n            \"$not\": {\n                \"$size\": 0\n            }\n        }\n    }\n},\n{\n    \"$unwind\": \"$sentiment.negative\"\n},\n{\n    \"$group\": {\n        \"_id\": \"$sentiment.negative\",\n        \"count\": {\n            \"$sum\": 1\n        }\n    }\n},\n{\n    \"$sort\": {\n        \"count\": -1\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[["7b251781.84dae8"]]},{"id":"8475fc83.7b8a","type":"debug","z":"2106f6a6.def90a","name":"","active":false,"console":"false","complete":"payload","x":1130,"y":580,"wires":[]},{"id":"ed3b9152.12c47","type":"http in","z":"2106f6a6.def90a","name":"","url":"/trump/words/negative","method":"get","swaggerDoc":"","x":140,"y":660,"wires":[["12068d19.edf973"]]},{"id":"35ca4913.ca35b6","type":"http response","z":"2106f6a6.def90a","name":"","x":1110,"y":660,"wires":[]},{"id":"9a10fac5.65ef08","type":"function","z":"2106f6a6.def90a","name":"flatten","func":"var index = {};\n\nfunction flatten(list) {\n    for (var i in list) {\n        index[list[i]._id] = list[i].count;\n    }\n}\n\nflatten(msg.payload)\n\nmsg.payload = JSON.stringify(index);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":620,"wires":[["35ca4913.ca35b6","8475fc83.7b8a"]]},{"id":"a1acd405.5e5328","type":"comment","z":"2106f6a6.def90a","name":"Twitter ETL","info":"Listen to twitter stream for tweets containing\nthe #trump hashtag, pass them through sentiment\nanalysis, and then store the entire message in\nmongodb.","x":210,"y":60,"wires":[]},{"id":"aa4a5382.55b5b","type":"comment","z":"2106f6a6.def90a","name":"Word Frequency","info":"An HTTP endpoint that provides a list of\nnegative words and their frequency suitable\nfor building a word cloud.\n\nExample output:\n\n```\n{\n    stop: 1776,\n    fascist: 719,\n    no: 423,\n    die: 170,\n    evil: 143,\n    incompetent: 133\n}\n```","x":220,"y":520,"wires":[]},{"id":"9446d7ec.6bb928","type":"http in","z":"2106f6a6.def90a","name":"","url":"/trump/words/positive","method":"get","swaggerDoc":"","x":150,"y":580,"wires":[["8ed7ee7.f71281"]]},{"id":"8ed7ee7.f71281","type":"function","z":"2106f6a6.def90a","name":"aggregation (positive)","func":"msg.payload = [{\n    \"$match\": {\n        \"sentiment.positive\": {\n            \"$exists\": true,\n            \"$not\": {\n                \"$size\": 0\n            }\n        }\n    }\n},\n{\n    \"$unwind\": \"$sentiment.positive\"\n},\n{\n    \"$group\": {\n        \"_id\": \"$sentiment.positive\",\n        \"count\": {\n            \"$sum\": 1\n        }\n    }\n},\n{\n    \"$sort\": {\n        \"count\": 1\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["7b251781.84dae8"]]},{"id":"cca1768c.335e88","type":"mongodb in","z":"2106f6a6.def90a","mongodb":"f90fd9c4.06f028","name":"","collection":"trump","operation":"aggregate","x":630,"y":340,"wires":[["4054dc5e.bfab24","fe7e2b1.f0181d8","ae08e425.51f718"]]},{"id":"f5a2a702.0a5d58","type":"function","z":"2106f6a6.def90a","name":"aggregation","func":"msg.payload = [{\n    \"$match\": {\n        \"sentiment.score\": {\n            \"$ne\": 0\n        }\n    }\n},\n{\n    \"$group\": {\n        \"_id\": \"trump\",\n        \"average\": {\n            \"$avg\": \"$sentiment.score\"\n        },\n        \"lowest\": {\n            \"$min\": \"$sentiment.score\"\n        },\n        \"highest\": {\n            \"$max\": \"$sentiment.score\"\n        },\n        \"total\": {\n            \"$sum\": 1\n        }\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["cca1768c.335e88"]]},{"id":"fe7e2b1.f0181d8","type":"debug","z":"2106f6a6.def90a","name":"","active":false,"console":"false","complete":"payload","x":890,"y":280,"wires":[]},{"id":"42d6e8ce.bd2918","type":"http in","z":"2106f6a6.def90a","name":"","url":"/trump/sentiment","method":"get","swaggerDoc":"","x":140,"y":300,"wires":[["f5a2a702.0a5d58"]]},{"id":"4054dc5e.bfab24","type":"http response","z":"2106f6a6.def90a","name":"","x":870,"y":340,"wires":[]},{"id":"ae7bc5e1.518438","type":"comment","z":"2106f6a6.def90a","name":"Sentiment (Average)","info":"An HTTP endpoint that provides sentiment\nstatistics, with neutral (score: 0) entries\nremoved.\n\nExample output:\n\n```\n[\n    {\n        _id: trump,\n        average: 1.8027996070726916,\n        lowest: -15,\n        highest: 17,\n        total: 12451\n    }\n]\n```","x":230,"y":240,"wires":[]},{"id":"9c28eaf8.63d718","type":"ui_gauge","z":"2106f6a6.def90a","tab":"73265d36.8cd9a4","name":"Average","group":"Trump","order":1,"format":"{{value}}","min":"-20","max":"20","x":1060,"y":440,"wires":[]},{"id":"edea2a67.1215d8","type":"ui_chart","z":"2106f6a6.def90a","tab":"73265d36.8cd9a4","name":"Scores","group":"Trump","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":620,"y":220,"wires":[[],[]]},{"id":"563988d4.a9c678","type":"function","z":"2106f6a6.def90a","name":"transform","func":"msg.payload = msg.sentiment.score;\nmsg.topic = \"score\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["edea2a67.1215d8"]]},{"id":"8a0e9524.75f168","type":"inject","z":"2106f6a6.def90a","name":"","topic":"cron","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":180,"y":380,"wires":[["f5a2a702.0a5d58"]]},{"id":"10c7a4de.ef385b","type":"debug","z":"2106f6a6.def90a","name":"","active":true,"console":"false","complete":"payload","x":1070,"y":360,"wires":[]},{"id":"ae08e425.51f718","type":"function","z":"2106f6a6.def90a","name":"transform","func":"msg.payload = Math.round(msg.payload[0].average * 100) / 100;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":400,"wires":[["10c7a4de.ef385b","9c28eaf8.63d718"]]}]